<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>A software & web developer who is proficient with a wide range of programming languages and development tools. Have a strong desire to learn more cutting edge technologies. Experience in all 5 stages of system development lifecycle including : requirement gathering, design, coding, testing, deployment, and maintenance.</p>
</div><!--//summary-->
</section><!--//section-->