 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master Degree in Information Technology</h4>
    <h5 class="meta">Monash University</h5>
    <div class="time">2012 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachlor Degree in Information System</h4>
    <h5 class="meta">Shanghai Ocean University</h5>
    <div class="time">2008 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->