<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">EDI(Electronic Data Interchange) Solution Developer </h3>
                            <div class="time">Nov 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.spscommerce.com/au/" target="_blank">SPS Commerce, Pty Ltd</a>, Melbourne Burwood East</div>
                    </div><!--//meta-->
                    <div class="details">
                    	<div>
                    		<h4 class="detailitem">Responsibility</h4>
                    		<li>Work on a translation engine to translate other message type (i.e. XML, CSV, SAP Idoc, etc) into EDI(Electronic Data Interchange) format.</li>
                    		<li>Maintain existing solutions and handle supporting query as needed.</li>
                    	</div>
                        
                        <div>
                        	<h4 class="detailitem">Accomplishments</h4>
                    		<li>Familiar with technology stack : C#, XML, XSLT, .NET Core, SQL, GitHub, JIRA, Salesforce, Visual Studio, Windows Server, Jenkins.</li>
                    		<li>Awarded for Outstanding Performance in 2016.</li>
                    		<li>All projects delivered before due date. </li>
                            <li>Work closely with team members to standardize team process.</li>
                        </div>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">Dec 2013 - Nov 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.businesscoachmodel.com/web/index.faces" target="_blank">Financial Management Group, Pty Ltd</a>, Melbourne CBD</div>
                    </div><!--//meta-->
                    <div class="details">
                        <div>
                    		<h4 class="detailitem">Responsibility</h4>
                    		<li>Develop and maintain a website - <a href="http://www.businesscoachmodel.com/web/index.faces">Business Coach Model</a>.</li>
                    		<li>Update financial data on this website, and throubleshoot any errors if required.</li>
                    	</div>
                        
                        <div>
                        	<h4 class="detailitem">Accomplishments</h4>
                    		<li>Familiar with technology stack : Java, Spring MVC, Hibernate, HTML, CSS,
JavaScript, jQuery, MySQL, TortoiseSVN, Eclipse, Linux.</li>
                    		<li>Upgrade back-end server to allow website run on a faster and stable platform.</li>
							<li>Quick turnaround time for bug fix.</li>
                        </div>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->