<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">EDI(Electronic Data Interchange) Solution Developer </h3>
                            <div class="time">Nov 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.spscommerce.com/au/" target="_blank">SPS Commerce, Pty Ltd</a>, Melbourne Burwood East</div>
                    </div><!--//meta-->
                    <div class="details">
                    	<div>
                    		<h4 class="detailitem">Responsibility</h4>
                    		<li>Create(written in XSLT or C#), test, and deliver high quality EDI solutions on time</li>
                    		<li>Maintain existing solutions and handle support query as needed</li>
                    	</div>
                        
                        <div>
                        	<h4 class="detailitem">Achievements</h4>
                    		<li>Awarded for Outstanding Performance during Q1 of 2016</li>
                    		<li>All EDI projects completed before due date</li>
                    		<li>Work closely with team members to standardize team process</li>
                        </div>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">Dec 2013 - Nov 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.businesscoachmodel.com/web/index.faces" target="_blank">Financial Management Group, Pty Ltd</a>, Melbourne CBD</div>
                    </div><!--//meta-->
                    <div class="details">
                        <div>
                    		<h4 class="detailitem">Responsibility</h4>
                    		<li>Develop a ‘Business Coach Model’ website (using Java EE framework), ensure its
cohesion and functionality.</li>
                    		<li>Maintain the web server (Glassfish), update MySQL database for the website, troubleshoot any
errors within the website</li>
                    	</div>
                        
                        <div>
                        	<h4 class="detailitem">Responsibility</h4>
                    		<li>Enhance my understanding of Java programming</li>
                    		<li>Upgrade back-end server with latest hardware and software, making website run on a
faster and stable platform</li>
							<li>Quick turnaround time for bug fix</li>
                        </div>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->